<footer class="text-center text-lg-start"style="background-color:#5B5252 ;color:white;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-9 col-md-12 mb-4 mb-md-0">
          <h2 class="shadow-lg p-2 mb-0 ">Magicode</h2>
  
       <!-- <p> Mode with love by magicode team 2023   All Rights Reserved</p> -->
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-12 mb-4 mb-md-0">
          
            <ul class="list-unstyled ">
                <li>
                  <a routerLink="courses" class="text-white">Courses</a>
                </li>
                <li>
                  <a routerLink="tracks"class="text-white">Tracks</a>
                </li>
          
              </ul>
        
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Magicode Copyright
      <!-- <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a> -->
    </div>
    <!-- Copyright -->
  </footer>